<!-- Componente Logo do Menu -->
<div class="menu-section menu-logo">
    <div class="menu-logo-content">
        <div class="logo-container">
            <img src="/icons/sharp.svg" alt="KAIROS Logo" class="logo-img" />
            <span class="logo-text">KAIRÓS</span>
        </div>
    </div>
</div>
