<!-- Componente Perfil do Menu -->
<div class="menu-section menu-profile">
    <div class="menu-profile-content">
        <div class="profile-container">
            <div class="profile-avatar">
                <img src="/icons/avatar.svg" alt="Avatar" width="30" height="30" />
            </div>
            <div class="profile-info">
                <div class="profile-name">Usuário</div>
            </div>
        </div>
    </div>
</div>
